* {
    margin: 0;
    padding: 4px;
    box-sizing: border-box;
}

body {
    background-color: #0f0f0f;
    color: white;
}

.website{
    display: flex;
    height: 97vh;
}

.sidebar {
    width: 5vw;
    height: 97vh;
    background-color: #1e1e1e;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative; /* Ensures proper placement of the line */
    padding-bottom: 10px;
}

.menu-icon::after{
    content:"";
    width: 80%;
    height: 2px;
    background-color: white; /* Line color */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.side-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.side-icons ul {
    list-style: none;
}

.side-icons ul li a {
    text-decoration: none;
    color: white;
}

.help-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.mainbar{
    width: 90vw;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -5px;
}


.right-header{
    display: flex;
    justify-content: right;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 28px;
    background: #1e1e1e;
}

.search-btn{
    background-color: #272727;
    background: none;
    display: flex;
    border: none;
}

.search input {
    width: 200px;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #1e1e1e;
    color: white;
    outline: none;
    border: none;
}


.search-icon {
    background: #1e1e1e;
    right: 12px;
    color: #aaa;
    pointer-events: none; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile img{
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
    border-radius: 50%;
}

.maincontents{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-mainbar{
    display: flex;
    flex-direction: column;
    height: 84vh;
    width: 41.5vw;
    gap: 20px;
}

.top-left{
    background-color: #1e1e1e;
    height: 35vh;
    border-radius: 30px;
}

.bottom-left{
    background-color: #1e1e1e;
    height: 46vh;
    border-radius: 30px;
}

.right-mainbar{
    display: flex;
    flex-direction: column;
    height: 84vh;
    width: 47vw;
    gap: 20px;
}

.top-right{
    background-color: #1e1e1e;
    height: 46vh;
    border-radius: 30px;
}

.bottom-right{
    background-color: #1e1e1e;
    height: 35vh;
    border-radius: 30px;
}

.location-date{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272727;
    border-radius: 30px;
    padding: 0 20px;
}

.location h1{
    font-weight: 600;
    font-size: 40px;
}

.location img{
    width: 50px;
    height: 50px;
}

.weather-summary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 20px 20px;
    width: 40vw;
    height: 23vh;
}

.weather-summary>img{
    width: 40%;
    margin-left: 30px;
}

.weather-summary-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    gap: 10px;
    overflow: hidden;
}

.weather-info{
    background-color: #272727;
    padding: 20px;
    margin: 0;
    border-radius: 30px;
}

.top-right-head{
    margin-left: 10px;
    font-weight: 500;
}

.weather-condition-container{
    margin: 0 1rem 1rem 1rem;
    width: 43vw;
    height: 36vh;
    display: flex;
    gap: 1rem;
}

.weather-condition{
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(2, 1fr); /* 2 rows */
}

.condition-item{
    background-color: #272727;
    margin: 5px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.regular-txt{
    font-weight: 600;
    font-size: 20px;
}

.value-flex{
    display: flex;
    align-items: center;
}

.value-flex h5{
    font-size: 25px;
    font-weight: 600;
}

.value-flex span{
    font-size: 20px;
    font-weight: 600;
    padding: 0;
}


.sun-condition{
    width: 50%;
    height: 100%;
}

.forecast-items-container{
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.forecast-items-container::-webkit-scrollbar{
    display: none;
}

.forecast-items{
    min-width: 70px;
    background-color: rgb(39, 39, 39);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 14px;
}

.forecast-items h5{
    font-size: 16px;
}

.forecast-items:hover{
    background-color: rgb(39, 39, 39, 0.15);
}

.forecast-item-img{
    width: 80px;
    height: 80px;
}

.search-city{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-top: 10%;
}

.section-message img{
    height: 350px;
}
